<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="dbf10604b239fd44829764a713006c26ddConnectionString"
            connectionString="Data Source=f10604b2-39fd-4482-9764-a713006c26dd.sqlserver.sequelizer.com;Initial Catalog=dbf10604b239fd44829764a713006c26dd;Persist Security Info=True;User ID=ajnycvpeqqhibhyc;Password=vxaEzV8FzhAFzeuEquEmQ2Ev845yQkznXf6VCuooxaE7weRHsUcQTTwC2MFDYGXp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
